@charset "utf-8";

body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,hr,p,blockquote,form,input,textarea,th,td,figure{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
input:focus,textarea:focus,button:focus{outline:0;}
/*解决字体和文字大小在控件中没有被继承的问题*/
button,input,textarea,select{line-height:inherit;font-family:inherit;font-weight:inherit;font-size:100%;}
body{font: 300 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Nene", "Helvetica", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;color:#000;background:#fff;}
a{color:#fff;text-decoration:none;}
/*a:hover{color:#31c27c;text-decoration:underline;}*/

html,body{height:100%;}
body{color:#fff;background:#fff;}
.wrap{position:relative;height:100%;}

/*::placeholder{color:#999;}*/

.top_bar{position:absolute;top:0;left:0;width:100%;height:100px;background:#000;}
.top_bar__bd{display:flex;justify-content:space-between;align-items:center;height:100%;margin:0 30px;}
.system_name{font-size:500;font-size:24px;}

.user{display:flex;align-items:center;}
.user__aside{position:relative;width:40px;height:40px;margin-right:10px;}
.user__avatar{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;object-fit:cover;border-radius:999px;}
.user__bd{display:flex;}
.user__name{max-width:10em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.logout{display:inline-block;margin-left:10px;padding-left:10px;border-left:solid 1px #ededed;}

.sidebar{position:absolute;top:100px;bottom:0;left:0;width:300px;background:#222;}
.main{position:absolute;top:100px;right:0;bottom:0;left:300px;/*background-color:#f0f0f0;background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(.25,#e6e6e6),color-stop(.25,transparent)),-webkit-gradient(linear,0 0,100% 100%,color-stop(.25,#e6e6e6),color-stop(.25,transparent)),-webkit-gradient(linear,0 100%,100% 0,color-stop(.75,transparent),color-stop(.75,#e6e6e6)),-webkit-gradient(linear,0 0,100% 100%,color-stop(.75,transparent),color-stop(.75,#e6e6e6));background-size:50px 50px;background-position:0 0,25px 0,25px -25px,0 25px;*/}

.step_list__item{border-bottom:solid 1px rgba(255,255,255,.15);}
.step_list__item:last-child{border-bottom:none;}
.step_list__tit{padding:30px 0;text-align:center;letter-spacing:1px;font-size:20px;color:#fff;}

.select_color{margin-bottom:50px;border-top:solid 1px rgba(255,255,255,.15);}
.select_color__item{position:relative;margin-bottom:20px;}
.select_color__value{display:block;width:84px;height:84px;line-height:84px;margin:0 auto;text-align:center;border-radius:84px;font-size:16px;border:solid 1px rgba(255,255,255,.2);}
.color_picker{position:absolute;top:50%;left:220px;z-index:10;width:300px;height:180px;margin-top:-90px;background:#fff;opacity:0;pointer-events:none;-webkit-transition:250ms ease-in-out;}
.color_picker__canvas{display:block;}
.color_picker__hue{height:24px;background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);}
.color_picker__range{width:100%;height:100%;-webkit-appearance:none;background:transparent;}
.select_color__item:hover .color_picker{opacity:1;pointer-events:auto;}

.default_color_list{width:210px;margin:0 auto 40px;overflow:hidden;}
.default_color_list__item{position:relative;float:left;width:50px;height:50px;margin:0 10px 20px;cursor:pointer;-webkit-transform:rotate(45deg);}
.default_color_list__cut{position:absolute;top:0;width:25px;height:50px;overflow:hidden;}
.default_color_list__cut:nth-child(2){right:0;}
.default_color_list__value{display:block;width:50px;height:50px;border-radius:25px;}
.default_color_list__cut:nth-child(2) .default_color_list__value{margin-left:-25px;}

.size_list{margin-left:10px;}
.size_list label{display:flex;align-items:center;padding:2px 0;cursor:pointer;}
.size_list__checkbox{margin-right:5px;}

.upload_pic{position:relative;}
.upload_pic__file{position:absolute;top:0;left:45px;width:210px;height:100%;z-index:2;cursor:pointer;opacity:0;}

.mod_btn{display:block;width:210px;height:58px;line-height:58px;margin:40px auto 30px;text-align:center;font-size:20px;font-weight:400;border-radius:29px;color:#000;background:#fff;}

.preview{position:absolute;top:120px;right:120px;bottom:120px;left:120px;}
.preview__svg{display:block;width:100%;height:100%;}

.img_box{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;}

                        <li class="default_color_list__item" data-hex="5526c2,f8ed45">
                            <div class="default_color_list__cut">
                                <span class="default_color_list__value" style="background-color:#5526c2"></span>
                            </div>
                            <div class="default_color_list__cut">
                                <span class="default_color_list__value" style="background-color:#f8ed45"></span>
                            </div>
                        </li>

                                                <li class="default_color_list__item" data-hex="9D0C84,91B6C9">
                            <div class="default_color_list__cut">
                                <span class="default_color_list__value" style="background-color:#9D0C84"></span>
                            </div>
                            <div class="default_color_list__cut">
                                <span class="default_color_list__value" style="background-color:#91B6C9"></span>
                            </div>
                        </li>
